@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#app{
    height:500px;
    width:500px;
    border: 1px solid green;
    margin:auto;
    border-radius:5px;
}
#app header{
    height:100px;
    text-align: center;
    padding-top:3px;
    background-color: #024175;
    color:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    letter-spacing: 0.3em;
}
#app #events{
    height: 300px;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: 0 3px 8px rgb(196, 138, 30);
    text-align: center;
    padding:4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#events button{
    height: 45px;
    width:80px;
    border-radius:5px;
    border :1px solid red;
    margin-right: 15px;
    cursor: pointer;
    background-color: red;
    color:white;
}
#events .result{
    margin-top: 15px;
    height:45px;
    width:250px;
    margin:5px auto;
    font-weight: 600;
    margin-left:50px;
}
input{
    height:30px;
    width:300px;
    border:1px solid black;
}